<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Thymeleaf</title>
	<link rel="stylesheet" href="http://bit.ly/3WJ5ilK" />
</head>
<body>
	<!-- m1.html -->
	
	<h1>Thymeleaf</h1>
	
	<!--
		JSP: 독립 실행 불가능
		Thymeleaf: 독립 실행 가능	
		
		Thymeleaf Standard Expression, 타임리프 표현식
		- EL + JSTL 역할
		
		1. Variable Expression, 변수 표현식
		2. Selection Variable Expression, 선택 변수 표현식
		3. Message Expression, 메시지 표현식
		4. Link URL Expression, 링크 표현식
		5. Fragment Expression, 조각 페이지 표현식(include)
		
		
		1. Variable Expression, 변수 표현식
		- ${}
		- EL 역할
		- 컨트롤러로부터 전달된 값을 출력/사용하는 용도
		
		
		** 타임리프의 대부분의 표현
		- th 접두어로 시작한다.
		- 대다수(99%)가 HTML 태그의 속성으로 표현
		- 타임리프 태그는 딱 1개만 제공
		
	-->
	<h2>변수 표현식</h2>

	<div>단일값: ${count}</div>
	<div th:text="${count}">단일값: </div>
	<div th:text="${name}">단일값: </div>
	<div th:text="123">단일값: </div>
	<div th:text="'강아지'">단일값: </div>
	
	<hr>
	
	<div>숫자: 100</div>
	<div>이름: 강아지</div>
	
	<div th:text="${name}">이름: 강아지</div>
	<div th:text="'이름: ' + ${name}"></div>
	<div>이름: <span th:text="${name}"></span></div>
	
	<hr>
	
	<h3>DTO 출력</h3>
	<ul>
		<li th:text="${dto}"></li>
		<li th:text="${dto.getName()}"></li>
		<li th:text="${dto.name}"></li>
		<li th:text="${dto.seq}"></li>
		<li th:text="${dto.age}"></li>
		<li th:text="${dto.address}"></li>
		<li th:text="${dto.gender}"></li>
	</ul>
	
	<h3>DTO 출력</h3>
	
	<ul>
		<li th:text="${map}"></li>
		<li th:text="${map.get('red')}"></li>
		<li th:text="${map.red}"></li>
		<li th:text="${map.['red']}"></li>
		<li th:text="${map.yellow}"></li>
		<li th:text="${map.blue}"></li>		
	</ul>
	
	<hr>
	
	<!-- 2. Selection Variable Expression, 선택 변수 표현식-->
	
	<ul th:object="${dto}">
		<li th:text="*{name}"></li>
		<li th:text="*{seq}"></li>
		<li th:text="*{age}"></li>
		<li th:text="*{address}"></li>
		<li th:text="*{gender}"></li>
	</ul>

	<ul th:object="${map}">
		<li th:text="*{red}"></li>
		<li th:text="*{yellow}"></li>
		<li th:text="*{blue}"></li>
	</ul>
	
	
	
</body>
</html>